@page "/adduser"
@using ApiContracts
@using BlazorApp.Services
@inject IUserService UserService

<PageTitle>Add User</PageTitle>

<h3>Add a user</h3>

<div class="mt-4">
    Username: 
    <input @bind="Username"/>
</div>

<div class="mt-4">
    Password: 
    <input @bind="Password"/>
</div>

<p class="mt-4 text-danger">@ErrorMessage</p>

<div class="mt-4">
    <button class="btn btn-primary" @onclick="OnSubmit">Submit</button>
</div>

@code {
    public string Username{ get; set; }
    public string Password{ get; set; }
    
    public string ErrorMessage{ get; set; }
    
    public async Task OnSubmit(){
        CreateUserDTO createUserDto = new CreateUserDTO(){
            Username = this.Username,
            Password = this.Password
        };
        try{
            await UserService.AddUserAsync(createUserDto);

            Username = "";
            Password = "";
            ErrorMessage = "";
        } catch (Exception e){
            ErrorMessage = e.Message;
        }
    }
}