@page "/createpost"
@attribute [Authorize]
@using System.Security.Claims
@using ApiContracts
@using BlazorApp.Services
@inject IPostsService PostsService
@inject NavigationManager NavigationManager

<PageTitle>Create Post</PageTitle>

<h3>Create a post</h3>

<div class="mt-4">
    Title: 
    <input @bind="Title"/>
</div>

<div class="mt-4">
    Content: 
    <textarea @bind="Body"></textarea>
</div>

<div class="mt-4">
    <button class="btn btn-primary" @onclick="OnSubmit">Submit</button>
</div>

<p class="text-danger">@ErrorMessage</p>

@code {
    public string ErrorMessage;
    
    public string Title{ get; set; }
    public string Body{ get; set; }

    [CascadingParameter] public Task<AuthenticationState> State{ get; set; }
    private int userId;
    protected override async Task OnInitializedAsync(){
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal claimsPrincipal = authenticationState.User;
        IEnumerable<Claim> claims = claimsPrincipal.Claims;
        string userIdString = claims.Single(c => c.Type == "Id").Value;
        userId = int.Parse(userIdString);
    }
    
    private async Task OnSubmit(){
        PostDTO postDto = new PostDTO(){
            Title = this.Title,
            Body = this.Body,
            UserId = userId
        };
        try{
            PostDTO post = await PostsService.AddPostAsync(postDto);
            NavigationManager.NavigateTo($"/posts/{post.Id}");
        } catch (Exception e){
            ErrorMessage = e.Message;
        }
    }
}