@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h1>Welcome to VIAForum!</h1>
        
        <p>Please <NavLink href="/login">login</NavLink> to interact with the forums!</p>
    </NotAuthorized>
    <Authorized>
        <h1>Welcome back, @context.User.Identity.Name</h1>
    </Authorized>
</AuthorizeView>

<p>
    On this application you can create posts, and comment on other peoples posts!<br/>
    To start browsing, navigate to the <NavLink href="/posts">posts</NavLink> page.
</p>