@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to VIAForum!</h1>

<p>
    On this application you can create posts, and comment on other peoples posts!<br/>
    To start browsing, navigate to the <NavLink href="/posts">posts</NavLink> page.
</p>