@page "/posts"
@using Microsoft.AspNetCore.Components.QuickGrid
@using ApiContracts
@using BlazorApp.Services
@inject NavigationManager navMngr
@inject IPostsService PostService
@inject IUserService UsersService

<h3>Posts</h3>

<div class="mt-4">
    <button class="btn btn-primary" @onclick="@(() => navMngr.NavigateTo("/createpost"))">Create post</button>
</div>

<QuickGrid Items="PostsList">
    <PropertyColumn Property="@(p => p.Title)" />
    <PropertyColumn Title="Author" Property="@(p => GetUsername(p.UserId))" />
    <TemplateColumn>
       <button class="btn btn-primary" @onclick="@(() => navMngr.NavigateTo($"/posts/{context.Id}"))">Details</button>
    </TemplateColumn>
</QuickGrid>

@code {
    public IQueryable<PostDTO> PostsList{ get; set; }
    
    protected override void OnInitialized(){
        PostsList = PostService.GetManyPosts();
    }

    public string GetUsername(int userId){
        // This hangs unless you wrap it in Task.run()... idk why
        UserDTO user = Task.Run(() => UsersService.GetSingleUserAsync(userId)).Result;
        return user.Username;
    }

}