@page "/posts"
@using Microsoft.AspNetCore.Components.QuickGrid
@using ApiContracts
@using BlazorApp.Services
@inject NavigationManager NavigationManager
@inject IPostsService PostService
@inject IUsersService UsersService

<PageTitle>Posts</PageTitle>

<h3>Posts</h3>

<AuthorizeView>
    <Authorized>
        <div class="mt-4">
            <button class="btn btn-primary" @onclick="@(() => NavigationManager.NavigateTo("/createpost"))">Create post</button>
        </div>
    </Authorized>
</AuthorizeView>

<QuickGrid Class="mt-4" Items="PostsList">
    <PropertyColumn Property="@(p => p.Title)" />
    <PropertyColumn Title="Author" Property="@(p => GetUsername(p.UserId))" />
    <TemplateColumn>
       <button class="btn btn-primary" @onclick="@(() => NavigationManager.NavigateTo($"/posts/{context.Id}"))">Details</button>
    </TemplateColumn>
</QuickGrid>

@code {
    public IQueryable<PostDTO> PostsList{ get; set; }
    
    protected override void OnInitialized(){
        PostsList = PostService.GetManyPosts();
    }

    public string GetUsername(int userId){
        // This hangs unless you wrap it in Task.run()... idk why
        UserDTO user = Task.Run(() => UsersService.GetSingleUserAsync(userId)).Result;
        return user.Username;
    }

}