@page "/login"
@using BlazorApp.Auth
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h3>Please login</h3>
        
        <label>User name: </label>
        <input type="text" @bind="username"/>
        
        <label>Password: </label>
        <input type="password" @bind="password"/>
        
        @if (!string.IsNullOrEmpty(errorLabel)){
            <label class="text-danger">@errorLabel</label>
        }
        
        <button @onclick="LoginAsync">Login</button>
    </NotAuthorized>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized>
</AuthorizeView>

@code {
    private string username;
    private string password;
    private string errorLabel;

    private async Task LoginAsync(){
        errorLabel = "";
        try{
            await GetSimpleAuthProvider().LoginAsync(username, password);
            NavigationManager.NavigateTo("/");
        } catch (Exception e){
            errorLabel = $"Error: {e.Message}";
        }
    }

    private SimpleAuthProvider GetSimpleAuthProvider(){
        if (AuthProvider is not SimpleAuthProvider provider) throw new Exception("Cannot get Auth Provider");
        return provider;
    }
}